/* ViewPage.css */

.view-page-container {
    width: 425px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .label {
    flex: 0.4;
    font-weight: bold;
    text-transform: uppercase;
    color: #444444;
  }
  
  .value {
    flex: 0.6;
    padding: 8px;
    border-radius: 4px;
    background-color: #f5f5f5;
    color: #333333;
  }
  